.b{
    display:flex;
    align-items:center;
    
    background-color:black;
}
.d1{
    width:260px;
    height:260px;
    border-radius:50%;
    border-top:5px solid orangered;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid orangered;
}
.d2{
    width:260px;
    height:260px;
    border-radius:50%;
    border-top:5px solid orangered;
    border-left: 5px solid white;
    border-bottom: 5px solid orangered;
    border-right: 5px solid orangered;
}
.d3{
    width:260px;
    height:260px;
    border-radius:50%;
    border-top:5px solid white;
    border-left: 5px solid orangered;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
.d4{
    width:260px;
    height:260px;
    border-radius:50%;
    border-top:5px solid orangered;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid orangered;
}
